.slide-container{position:relative;}
.slide-container .slide{float: left;}
.slide-container .slide img{vertical-align: middle;}
.slide-container .slide-warp{}
.slide-nav-btn .slide-jd{cursor:pointer;width: 15px;height: 15px;display: inline-block;background: #f30;border-radius: 50%;opacity: 0.5;}
.slide-nav-btn{text-align: center;position:absolute;bottom:0;width: 100%;bottom:15px;}
.slide-nav-btn .slide-jd-active{opacity: 1;}
.slide-prev{position:absolute;left: 10px;top:50%;width: 50px;height: 50px;margin-top: -25px;background: #f00;cursor:pointer;}
.slide-next{position:absolute;right: 10px;top:50%;width: 50px;height: 50px;margin-top: -25px;background: #f00;cursor:pointer;}

























